{% extends "base.html" %}


{% block content %}

{{ doc.html |safe }}

<hr />
        <a href="/content/{{ doc.content }}">
          <span class="fui-time">&nbsp;</span>
          <code style="color: #16a085!important;background-color:white!important;">{{ doc.content }}</code>
        </a>

{% endblock %}

{% block footer %}


        {% if doc.links %}
            <h3 class="footer-title">External Links</h3>
        {% endif %}


        {% for link in doc.links %}
            <p>
                <a href="/archive?q={{ link|urlencode }}" title="Archived Version">
                  <span class="fui-time">&nbsp;</span>
                </a>
                <a href="{{ link }}">
                  {{ link }}
                </a>
              </p>
        {% endfor %}


{% endblock %}


{% block path %}
    <a href="/{{ path }}">{{ path }} </a>

{% endblock %}
