{% extends "base.html" %}

{% block content %}
    <section class="content">
        <header>
            <h1 id="gistid"><a href="/">home</a></h1>
            <h2 id="description">gist.io: writing for hackers</h2>
        </header>
        <article>
            {{ text }}
        </article>
        <footer class="forceshow">
            <p>Check out the <a href="https://github.com/idan/gistio">source for gist.io on github</a>.</p>
            <p>Gist.io is not affiliated with github, but it does have a secret crush on the octocat.</p>
            <p><a href="https://mixpanel.com/f/partner" class="poweredby"><img src="https://mixpanel.com/site_media/images/partner/badge_light.png" alt="Mobile Analytics"></a><a href="http://heroku.com" class="poweredby"><img src="http://logos.heroku.com/images/heroku-logo-light-88x31.png"</a></p>
        </footer>
    </section>
{% endblock %}

{% block extra_head %}
    <meta name="format-detection" content="telephone=no">
{% endblock extra_head %}